body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px;
}

#logo-header {
    width: 150px;
    height: 70px;
}

.text-header {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.shop {
    font-size: 5vh;
    color: red;
}

.search {
    border: 1px solid #2b80dd;
}

.search input {
    width: 500px;
    height: 30px;
    box-sizing: content-box !important;
}

.search button {
    width: 50px;
    height: 35px;
    margin-left: -7px;
}

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b80dd;
}

.nav_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.nav_link {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link i {
    margin-right: 10px;
    font-size: 120%;
}

.nav_link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.nav_link a:hover {
    background-color: #0056b3;
    color: #cf9898;
}

#img-main {
    display: flex;
    justify-content: center;
}

.img-1 {
    margin-right: 7px;
}

.banner-slider {
    width: 780px;
    height: 404px;
    position: relative;
    overflow: hidden;
}

/* Ảnh nền */

.slides .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.slides .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hiển thị slide active */

.slide.active {
    display: block;
    animation: slideIn 2s ease-in-out 1s infinite alternate forwards;
}

/* Hiệu ứng mờ dần */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Chấm tròn điều hướng */

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

#img-right {
    width: 395px;
    height: 200px;
    margin-top: 2px;
}

#dia-chi {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 7px;
}

.diachi {
    background-color: #2b80dd;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    align-items: center;
    width: 564px;
    height: 80px;
}

.text-diachi {
    font-size: 170%;
    margin-right: 30px;
    border: 2px solid white;
    padding: 15px 10px;
    margin-left: 10px;
    border-radius: 15px;
}

.category-bar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: #f8f9fa;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 1145px;
    margin: 20px auto;
    margin-top: 40px;
}

.category-title {
    background: #1e88e5;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 3px;
    margin-right: 15px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.price-range {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.price-range .label {
    font-weight: bold;
    margin-right: 10px;
}

.price-range a {
    color: #007bff;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 80%;
}

.price-range a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1145px;
    margin: auto;
}

.product {
    width: 20%;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination {
    width: 100%;
    margin-top: 1.5%;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.discount {
    position: absolute;
    top: 15px;
    left: 15px;
    background: red;
    color: #fff;
    padding: 15px 10px;
    font-size: 14px;
    border-radius: 100%;
}

.title {
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}

.title1 {
    display: none;
}

.price {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}

.menu_mobile {
    display: none;
}

.nav_bars {
    width: 28px;
    height: 28px;
    color: white;
}

.nav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav_mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: #00a6ff;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
    z-index: 9999;
}

.nav_mobile_list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
}

.nav-mobile_link {
    text-decoration: none;
    display: block;
    padding: 15px 0;
    color: rgb(255, 255, 255);
    font-size: 120%;
}

.nav_close {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 150%;
    top: 15px;
    right: 10px;
    color: white;
}

.nav_input:checked ~ .nav_overlay {
    display: block;
}

.nav_input:checked ~ .nav_mobile {
    transform: translateX(0%);
    opacity: 1;
}

/* Footer Styling */

/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    .nav_bars {
        display: block;
        font-size: 150%;
        margin-top: 15px;
        position: absolute;
        left: 10px;
    }
    .nav_list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 90px;
        justify-content: center;
        align-items: center;
    }
    .nav_link {
        gap: 10px;
        padding: 0px;
        gap: 0px;
    }
    #logo-header {
        width: 80px;
        height: 50px;
    }
    .hotline {
        font-size: 80%;
    }
    .shop {
        font-size: 220%;
    }
    .search input {
        width: 250px;
    }
    #img-main {
        display: flex;
        height: 25px;
        justify-items: center;
        justify-content: space-between;
    }
    .img-main {
        justify-content: space-between;
    }
    .img-1 {
        /* margin-left: 30px; */
        width: 65%;
    }
    .banner-slider {
        width: 500px;
        height: 260px;
        position: relative;
        overflow: hidden;
    }
    /* Ảnh nền */
    .slides .slide {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        padding-left: 30px;
    }
    .slides .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Hiển thị slide active */
    .slide.active {
        display: block;
        animation: slideIn 2s ease-in-out 1s infinite alternate forwards;
    }
    /* Hiệu ứng mờ dần */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* Chấm tròn điều hướng */
    .dots {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        color: red;
    }
    .dot {
        height: 12px;
        width: 12px;
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }
    .dot.active {
        background-color: white;
    }
    .img-2 {
        width: 35%;
        height: 250px;
    }
    #img-right {
        width: 250px;
        height: 200px;
        margin-bottom: 3px;
    }
    .adress {
        max-width: 470px;
        margin-top: 280px;
        margin-left: 30px;
    }
    #dia-chi {
        flex-direction: column;
        gap: 20px;
    }
    .diachi {
        width: 100%;
        height: 40px;
    }
    .text-diachi {
        font-size: 100%;
        padding: 6px;
    }
    .text- {
        font-size: 60%;
    }
    .category-bar {
        width: 90%;
        margin: 20px auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .category-title {
        margin-bottom: 10px;
    }
    .price-range {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    .price-range a {
        margin: 5px 0;
    }
    .product-container {
        justify-content: center;
    }
    .product {
        width: 123px;
        height: 250px;
        margin: 7px 7px 10px 7px;
    }
    .title {
        display: none;
    }
    .title1 {
        display: block;
        font-size: 14px;
        margin: 10px 0;
        font-weight: bold;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-left,
    .footer-center,
    .footer-right {
        min-width: 100%;
    }
    .footer-right {
        min-width: 90%;
    }
    .footer-right form input,
    .footer-right form textarea {
        font-size: 14px;
        padding: 8px;
    }
    .footer-right form button {
        font-size: 14px;
        padding: 10px;
    }
}

/* mobile */

@media (max-width: 767px) {
    .menu_mobile {
        display: flex;
    }
    .ul_mobile {
        display: flex;
    }
    .nav_bars {
        display: block;
        font-size: 150%;
        margin-top: 15px;
        position: absolute;
        left: 10px;
    }
    .nav_menu {
        display: none;
    }
    .nav-mobile_link i {
        margin-right: 15px;
    }
    .menu_mobile1 {
        margin-left: -20px;
    }
    .ul_mobile {
        list-style: none;
    }
    .li_mobile {
        display: block;
        padding: 0px 15px;
    }
    .li_mobile a {
        text-decoration: none;
        color: white;
    }
    .li_mobile i {
        margin-right: 10px;
    }
    .li_mobile a:hover {
        text-decoration: none;
        color: rgb(255, 2, 2);
        background-color: #0056b3;
        width: 100%;
        height: 100%;
    }
    .logo {
        margin: 10px 0;
        display: flex;
    }
    #logo-header {
        width: 80px;
        height: 50px;
    }
    .hotline {
        display: none;
    }
    .shop {
        display: none;
    }
    .search input {
        width: 180px;
    }
    #img-main {
        flex-direction: column;
        align-items: center;
    }
    .img-1 {
        margin-right: 7px;
    }
    .banner-slider {
        width: 375px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    /* Ảnh nền */
    .slides .slide {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
    }
    .slides .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Hiển thị slide active */
    .slide.active {
        display: block;
        animation: slideIn 2s ease-in-out 1s infinite alternate forwards;
    }
    /* Hiệu ứng mờ dần */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* Chấm tròn điều hướng */
    .dots {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        color: red;
    }
    .dot {
        height: 12px;
        width: 12px;
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }
    .dot.active {
        background-color: white;
    }
    .img-2 {
        flex-direction: column;
        align-items: center;
        display: none;
    }
    #img-right {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .adress {
        max-width: 300px;
    }
    #dia-chi {
        flex-direction: column;
        gap: 10px;
    }
    .diachi {
        width: 100%;
        height: 40px;
    }
    .text-diachi {
        font-size: 100%;
        padding: 6px;
    }
    .text- {
        font-size: 60%;
    }
    .category-bar {
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .category-title {
        margin-bottom: 10px;
    }
    .price-range {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    .price-range a {
        margin: 5px 0;
    }
    .product-container {
        justify-content: center;
    }
    .product {
        width: 123px;
        height: 250px;
        margin: 7px 7px 10px 7px;
    }
    .title {
        display: none;
    }
    .title1 {
        display: block;
        font-size: 14px;
        margin: 10px 0;
        font-weight: bold;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-left,
    .footer-center,
    .footer-right {
        min-width: 100%;
    }
    .footer-right form input,
    .footer-right form textarea {
        font-size: 14px;
        padding: 8px;
    }
    .footer-right form input {
        width: 300px;
    }
    .footer-right form textarea {
        max-width: 300px;
        height: 100px;
    }
    .footer-right form button {
        max-width: 300px;
    }
    .footer-right form button {
        font-size: 14px;
        padding: 10px 0px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
